* {
    margin: 1px;
    padding: .2rem
;
    box-sizing: border-box;
}

main {
    display: flex;
}




body{
    background: url("/images/firespray.jpg");
    background-repeat: repeat;
}
.navList {
    list-style-type: none;
    margin: 1rem;
}

a {
    text-decoration: dashed;
    font-size: x-large;
}

li {
    padding: .25rem;
}