* {
    margin: 1px;
    padding: .2rem
    
    
    
;
    box-sizing: border-box;
    
}

main {
    display: flex;
    
   
}




body{
    background: url("/images/firespray.jpg");
    background-repeat: repeat repeat-y;
 
}
.navList {
    list-style-type: none;
    margin: 1rem;
}
nav a {
    display: block;
    padding: 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #b6ff2e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid #34401a; 
}

nav a:hover {
    color: #96d312;
    border: solid #a6db32;
    background-color: #34401a;
} 

a {
    text-decoration: dashed;
    font-size: x-large;
    
    
}

nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
}

img {
    position: fixed;
    display: flex;
}



  
li {
    padding: .25rem;
    
    
}
html {    
    background: url('image.png') no-repeat center fixed;     
    background-size: cover;
}

figcaption {
    background-color: #64732F;
    color: #B4BF5E;
    text-align: center;
    padding: 10px 0px;
    border-radius: 70% 10%;
}