* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
  text-align: left;
  background-color: #64732F;
}

.facts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filterArea {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #b3ba77;
}
fieldset {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.resetButton {
  border-radius: 10px;
  padding: .25rem;
  width: 100%;
  margin-top: .5rem;
  background-color: #64732F;
  
}
.membersDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.scene {
    width: 200px;
    height: 270px;
    
    margin: 3rem .25rem;
    perspective: 600px;
    border-radius: 10px;
  }
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    font-size: larger;
    text-align: center;
    
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  
  .card__face--front {
   
    border-radius: 10px;

  }

  body {
    background-image: url("/images/george.jpg");
    background-size: 77%;
    background-repeat: repeat;
   
    
    
  
  }
  
  
  .card__face--back {
    background: linear-gradient(#B4BF5E, #64732F);
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  .details {
    padding: .5rem;
  }
  .republican {
    background-color: #B4BF5E;
    
  }
  .democrat {
    background-color: #B4BF5E;
  }
  figure {
    border-radius: 10px;
      max-width: 300px;
  

  }


  figure img {
    border-radius: 9px;
    margin: 1.7rem;
    
    
    
  }
  figcaption {
    background-color: #34401A;
    color: #B4BF5E;
    text-align: center;
    padding: 10px 0px;
    border-radius: 80% 10%;
}

  nav a {
    display: block;
    padding: 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #b6ff2e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid #34401a; 
}

nav a:hover {
  color: #000100;
  border: solid #415810;
  background-color: #34401a
} 

img:hover {
  box-shadow: 0px 0px 10px rgb(57, 57, 206);
}

nav ul {
  margin: 0;
  padding: 0 2vw;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
}

 
  figcaption {
    background-color: #64732F;
    color: #B4BF5E;
    text-align: center;
    padding: 10px 0px;
    border-radius: 70% 10%;
    
}



