* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
  text-align: center;
  background-color: #64732F;
}

.facts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filterArea {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #b3ba77;
}
fieldset {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.resetButton {
  border-radius: 10px;
  padding: .25rem;
  width: 100%;
  margin-top: .5rem;
  background-color: #64732F;
}
.membersDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.scene {
    width: 200px;
    height: 270px;
    
    margin: 2rem .25rem;
    perspective: 600px;
    border-radius: 10px;
  }
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  
  .card__face--front {
   
    border-radius: 10px;
  }

  body {
    background-image: url("/images/george.jpg");
    background-size: 77%;
    background-repeat: repeat;
   
    
    
  
  }
  
  
  .card__face--back {
    background: linear-gradient(#B4BF5E, #64732F);
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  .details {
    padding: .5rem;
  }
  .republican {
    background-color: #B4BF5E;
  }
  .democrat {
    background-color: #B4BF5E;
  }
  figure {
    border-radius: 10px;
  }
  figure img {
    border-radius: 10px;
  }
  figcaption {
    text-align: center;
    font-weight: 700;
    color: #B4BF5E;
    font-size: larger;
  }
  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #64732F;
    color: #EEE;
  }